*{
    box-sizing: border-box;
}
/* canvas{
    z-index:-1
} */
body{
    background-color: black;
}
p{
    font-family: monospace;
    font-size: smaller;
}
nav{
    opacity: 0.7;
    /* fill-opacity: 0; */
}